node-red-data/flows.json
[{"id":"9859ad84.b01a68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49fa8bbb.11965c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e03de039.e3b3b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f451c7b2.2f87b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"447dd976.4746d","type":"mqtt-broker","name":"","broker":"mqtt.dit.htwk-leipzig.de","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b5c71962.5e8e2","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"roomclimate","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"83a70c7.62ccaf","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"98ae5d41.bad6a8","type":"mqtt in","z":"49fa8bbb.11965c","name":"mqtt in","topic":"esp/roomclimate/+","qos":"0","datatype":"auto","broker":"83a70c7.62ccaf","x":170,"y":720,"wires":[["13bf00d.4518eff","b6a56cee.b59188"]]},{"id":"13bf00d.4518eff","type":"debug","z":"49fa8bbb.11965c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":860,"wires":[]},{"id":"90ac789b.3dde58","type":"debug","z":"49fa8bbb.11965c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":240,"wires":[]},{"id":"a6161d0f.aa8de","type":"inject","z":"49fa8bbb.11965c","name":"profile","props":[{"p":"payload"},{"p":"light_from","v":"8","vt":"num"},{"p":"light_to","v":"18","vt":"num"},{"p":"light_max","v":"99","vt":"str"},{"p":"light_min","v":"50","vt":"num"},{"p":"humidity_max","v":"30","vt":"str"},{"p":"humidity_min","v":"26","vt":"str"},{"p":"temperature_max","v":"25","vt":"str"},{"p":"temperature_min","v":"15","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5m","payloadType":"str","x":160,"y":20,"wires":[["f4771c3c.fb61","2060760f.b48b72"]]},{"id":"f4771c3c.fb61","type":"function","z":"49fa8bbb.11965c","name":"influx query","func":"msg.query = \"select mean(light) as mean_light, mean(humidity) as mean_hum, mean(temperature) as mean_temp from pflanzen01 where time > now() - \" + msg.payload + \" group by plantId\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":180,"wires":[["ff37856c.3a60f","eac4a26e.16e808"]]},{"id":"ff37856c.3a60f","type":"debug","z":"49fa8bbb.11965c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"2060760f.b48b72","type":"function","z":"49fa8bbb.11965c","name":"msg data","func":"var data = msg.payload;\nvar date = new Date();\nvar hour = date.getHours();\n\nfor(var i=0; i<data.length;i++){\n    var plant = data[i];\n    var obj = {};\n    \n    if(plant.mean_light < msg.light_min){\n        obj.light = \"on\";\n        obj.sail = \"closed\";\n    }\n    if(plant.mean_light > msg.light_max){\n        obj.sail = \"open\";\n        obj.light = \"off\";\n    }\n    if(plant.mean_hum < msg.humidity_min){\n        obj.water = \"start\";\n        obj.windows = \"closed\";\n    }\n    if(plant.mean_hum > msg.humidity_max){\n        obj.water = \"stop\";\n        obj.windows = \"open\";\n    }\n    if(plant.mean_temp < msg.temperature_min){\n        obj.heat = \"on\";\n        obj.cool = \"off\";\n    }\n    if(plant.mean_temp > msg.temperature_max){\n        obj.heat = \"off\";\n        obj.cool = \"on\";\n    }\n    if(hour <= msg.light_from || hour >= msg.light_to){\n        obj.light = \"off\";\n        obj.sail = \"closed\";\n    }\n    \n    msg.topic = \"lab/07/\" + plant.plantId + \"/msg\";\n    msg.payload = obj;\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":20,"wires":[["6ee194e8.3fe3cc","559a7d1b.c26ef4"]]},{"id":"559a7d1b.c26ef4","type":"mqtt out","z":"49fa8bbb.11965c","name":"mqtt out","topic":"","qos":"0","retain":"","broker":"447dd976.4746d","x":1060,"y":20,"wires":[]},{"id":"6ee194e8.3fe3cc","type":"debug","z":"49fa8bbb.11965c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":240,"wires":[]},{"id":"459b8894.1ddf","type":"influxdb out","z":"49fa8bbb.11965c","influxdb":"b5c71962.5e8e2","name":"save to influxdb","measurement":"climate02","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":600,"wires":[]},{"id":"eac4a26e.16e808","type":"influxdb in","z":"49fa8bbb.11965c","influxdb":"b5c71962.5e8e2","name":"influxdb out","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":570,"y":100,"wires":[["90ac789b.3dde58","2060760f.b48b72"]]},{"id":"82bf528.23d073","type":"mqtt in","z":"f451c7b2.2f87b","name":"mqtt in","topic":"lab/07/+/data","qos":"0","datatype":"json","broker":"447dd976.4746d","x":310,"y":760,"wires":[["fd3524f8.b72c2","3829298a.12384e"]]},{"id":"3829298a.12384e","type":"change","z":"f451c7b2.2f87b","name":"transform for influxdb","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t        \"light\": msg.payload.light,\t        \"humidity\": msg.payload.humidity,\t        \"temperature\": msg.payload.temperature\t    },\t    {\t        \"plantId\": msg.payload.plantId\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":760,"wires":[["cdfb46dd.235fc8","599cfbec.ea3314"]]},{"id":"cdfb46dd.235fc8","type":"debug","z":"f451c7b2.2f87b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":900,"wires":[]},{"id":"599cfbec.ea3314","type":"influxdb out","z":"f451c7b2.2f87b","influxdb":"b5c71962.5e8e2","name":"save to influxdb","measurement":"pflanzen01","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":760,"wires":[]},{"id":"fd3524f8.b72c2","type":"debug","z":"f451c7b2.2f87b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":900,"wires":[]},{"id":"aceba78d.8c2bc","type":"influxdb in","z":"f451c7b2.2f87b","influxdb":"b5c71962.5e8e2","name":"influxdb out","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":670,"y":300,"wires":[["2d112e2e.28e44a","1e0a037.db369fd"]]},{"id":"2d112e2e.28e44a","type":"debug","z":"f451c7b2.2f87b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"35699c12.3d87ec","type":"inject","z":"f451c7b2.2f87b","name":"profile","props":[{"p":"payload"},{"p":"light_from","v":"8","vt":"num"},{"p":"light_to","v":"18","vt":"num"},{"p":"light_max","v":"99","vt":"str"},{"p":"light_min","v":"50","vt":"num"},{"p":"humidity_max","v":"30","vt":"str"},{"p":"humidity_min","v":"26","vt":"str"},{"p":"temperature_max","v":"25","vt":"str"},{"p":"temperature_min","v":"15","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5m","payloadType":"str","x":260,"y":220,"wires":[["fb635e81.2252b","1e0a037.db369fd"]]},{"id":"fb635e81.2252b","type":"function","z":"f451c7b2.2f87b","name":"influx query","func":"msg.query = \"select mean(light) as mean_light, mean(humidity) as mean_hum, mean(temperature) as mean_temp from pflanzen01 where time > now() - \" + msg.payload + \" group by plantId\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":380,"wires":[["bdfee50e.fa426","aceba78d.8c2bc"]]},{"id":"bdfee50e.fa426","type":"debug","z":"f451c7b2.2f87b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"1e0a037.db369fd","type":"function","z":"f451c7b2.2f87b","name":"msg data","func":"var data = msg.payload;\nvar date = new Date();\nvar hour = date.getHours();\n\nfor(var i=0; i<data.length;i++){\n    var plant = data[i];\n    var obj = {};\n    \n    if(plant.mean_light < msg.light_min){\n        obj.light = \"on\";\n        obj.sail = \"closed\";\n    }\n    if(plant.mean_light > msg.light_max){\n        obj.sail = \"open\";\n        obj.light = \"off\";\n    }\n    if(plant.mean_hum < msg.humidity_min){\n        obj.water = \"start\";\n        obj.windows = \"closed\";\n    }\n    if(plant.mean_hum > msg.humidity_max){\n        obj.water = \"stop\";\n        obj.windows = \"open\";\n    }\n    if(plant.mean_temp < msg.temperature_min){\n        obj.heat = \"on\";\n        obj.cool = \"off\";\n    }\n    if(plant.mean_temp > msg.temperature_max){\n        obj.heat = \"off\";\n        obj.cool = \"on\";\n    }\n    if(hour <= msg.light_from || hour >= msg.light_to){\n        obj.light = \"off\";\n        obj.sail = \"closed\";\n    }\n    \n    msg.topic = \"lab/07/\" + plant.plantId + \"/msg\";\n    msg.payload = obj;\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":220,"wires":[["d385d0f7.74303","b8c4ebc4.773d18"]]},{"id":"b8c4ebc4.773d18","type":"mqtt out","z":"f451c7b2.2f87b","name":"mqtt out","topic":"","qos":"0","retain":"","broker":"447dd976.4746d","x":1160,"y":220,"wires":[]},{"id":"d385d0f7.74303","type":"debug","z":"f451c7b2.2f87b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":440,"wires":[]},{"id":"b6a56cee.b59188","type":"function","z":"49fa8bbb.11965c","name":"parse mqtt data","func":"var data = msg.payload.split(\";\")\n\nvar db_out = \n[\n    {\n        \"temperature\": parseFloat(data[1]),\n        \"humidity\": parseFloat(data[2]),\n        \"pressure\": parseFloat(data[3])/100000\n    },\n    {\n        \"id\": data[0]\n    }\n]\n\nmsg.payload=db_out\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":660,"wires":[["a86b927f.7235c","459b8894.1ddf"]]},{"id":"d6fdb0e4.6bf218","type":"inject","z":"49fa8bbb.11965c","name":"example data","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"001,55.12,12.80,6.90","payloadType":"str","x":300,"y":460,"wires":[[]]},{"id":"a86b927f.7235c","type":"debug","z":"49fa8bbb.11965c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":680,"wires":[]}]