node-red-data/flows.json
[{"id":"49fa8bbb.11965c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"447dd976.4746d","type":"mqtt-broker","name":"","broker":"mqtt.dit.htwk-leipzig.de","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b5c71962.5e8e2","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"roomclimate","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"83a70c7.62ccaf","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"98ae5d41.bad6a8","type":"mqtt in","z":"49fa8bbb.11965c","name":"mqtt in","topic":"esp/roomclimate/+","qos":"0","datatype":"auto","broker":"83a70c7.62ccaf","x":270,"y":140,"wires":[["13bf00d.4518eff","b6a56cee.b59188"]]},{"id":"13bf00d.4518eff","type":"debug","z":"49fa8bbb.11965c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":260,"wires":[]},{"id":"459b8894.1ddf","type":"influxdb out","z":"49fa8bbb.11965c","influxdb":"b5c71962.5e8e2","name":"save to influxdb","measurement":"climate02","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":860,"y":80,"wires":[]},{"id":"b6a56cee.b59188","type":"function","z":"49fa8bbb.11965c","name":"parse mqtt data","func":"var data = msg.payload.split(\";\")\n\nvar db_out = \n[\n    {\n        \"temperature\": parseFloat(data[1]),\n        \"humidity\": parseFloat(data[2]),\n        \"pressure\": parseFloat(data[3])/100000\n    },\n    {\n        \"id\": data[0]\n    }\n]\n\nmsg.payload=db_out\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["a86b927f.7235c","459b8894.1ddf"]]},{"id":"a86b927f.7235c","type":"debug","z":"49fa8bbb.11965c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"4c776143.9ea7f","type":"mqtt in","z":"49fa8bbb.11965c","name":"mqtt in","topic":"pi/con","qos":"0","datatype":"auto","broker":"83a70c7.62ccaf","x":290,"y":440,"wires":[["787a4088.c9d9c","298b96a5.65eeaa"]]},{"id":"787a4088.c9d9c","type":"debug","z":"49fa8bbb.11965c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":600,"wires":[]},{"id":"298b96a5.65eeaa","type":"function","z":"49fa8bbb.11965c","name":"parse mqtt data","func":"var data_in = parseInt(msg.payload)\n\nif(data_in == 0){\n    con = 1\n}\nelse{\n    con = 0\n}\n\nvar db_out = \n[\n    {\n        \"connection\": con\n    },\n    {\n        \"id\": \"001\"\n    }\n]\n\nmsg.payload=db_out\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":440,"wires":[["8eae2691.4402","d1919d9a.c2af68"]]},{"id":"d1919d9a.c2af68","type":"influxdb out","z":"49fa8bbb.11965c","influxdb":"b5c71962.5e8e2","name":"save to influxdb","measurement":"pi","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":840,"y":380,"wires":[]},{"id":"8eae2691.4402","type":"debug","z":"49fa8bbb.11965c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":580,"wires":[]}]